<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket Route</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<h1 th:text="'Start and Endpoint'"></h1>
<h4 th:text="'Please select your start and end point for your ' + ${ticket.ticketType} + ' ticket.'"></h4>
<form action="#" th:action="@{/ticketroute-Einzelfahrt}" th:object="${ticket}" method="post">

    <label for="tripStart">Bitte geben sie ihren Startort ein</label>
    <input id="tripStart" type="text" th:field="*{startStation}" >
    <b th:if="${#fields.hasErrors('startStation')}" th:errors="*{startStation}"/>
    <br>
    <label for="tripEnd">Bitte geben sie ihren Zielort ein</label>
    <input id="tripEnd" type="text" th:field="*{endStation}" >
    <b th:if="${#fields.hasErrors('endStation')}" th:errors="*{endStation}"/>

    <input type="submit" value="Buy">

</form>
</body>
</html>