<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket Route</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h1 th:text="'additional Ticket Options'"></h1>
<h4 th:text="'Please select addition options for your ' + ${ticket.ticketType} + ' ticket.'"></h4>
<!--List with all ticket properties-->
<ul>
    <li th:text="'Ticket Type: ' + ${ticket.ticketType}"></li>
    <li th:text="'Ticket GA Option: ' + ${ticket.GAOption}"></li>
    <li th:text="'Ticket Start Station: ' + ${ticket.startStation}"></li>
    <li th:text="'Ticket End Station: ' + ${ticket.endStation}"></li>
    <li th:text="'Ticket Zonen: ' + ${ticket.zonen}"></li>
</ul>

<form action="#" th:action="@{/ticket-options}"
      th:object="${ticket}" method="post">
    <div th:each="radioValue: ${klassenOptions}">
        <label>
            <input type="radio" th:text="${radioValue}" th:value="${radioValue}" th:field="*{klasse}" />
        </label>
    </div>
    <input type="submit" value="Kaufen">
</form>

</body>
</html>