<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket Route</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h1 th:text="'Add a name to your Ticket'"></h1>
<h4 th:text="'Please add your name to your ' + ${ticket.ticketType} + ' ticket.'"></h4>

<p>Your current Ticket:</p>
<ul>
    <li th:text="'Type: ' + ${ticket.ticketType}"></li>
    <li th:if="${ticket.GAOption}" th:text="'GA Option: ' + ${ticket.GAOption}"></li>
    <li th:if="${ticket.startStation}" th:text="'Start Station: ' + ${ticket.startStation}"></li>
    <li th:if="${ticket.endStation}" th:text="'End Station: ' + ${ticket.endStation}"></li>
    <li th:if="${ticket.zonen}" th:text="'Zonen: ' + ${ticket.zonen}"></li>
    <li th:if="${ticket.klasse}" th:text="'Klasse: ' + ${ticket.klasse}"></li>
    <li th:if="${ticket.date}" th:text="'Date: ' + ${ticket.date}"></li>
    <li th:if="${ticket.time}" th:text="'Time: ' + ${ticket.time}"></li>
    <li th:if="${ticket.timeSpan}" th:text="'Timespan: ' + ${ticket.timeSpan} + ' days'"></li>
</ul><br><br>
<form action="#" th:action="@{/ticket-user}" th:object="${user}" method="post">

    <label for="tripStart">Firstname</label>
    <input id="tripStart" type="text" th:field="*{firstname}" >
    <br>
    <label for="tripEnd">Name</label>
    <input id="tripEnd" type="text" th:field="*{lastname}" >

    <input type="submit" value="Buy">

</form>



</body>
</html>